     <div class="container" >
            <div class="header">
            
                  <div class="col-lg-3"> <H1><a href="test.html" > <img src="logo.png" alt="" /></a> </H1>    </div>
                  
                  
                  <br />
                  <br />
                  <div class="recherche">
            <form class="navbar-form navbar-right inline-form">
            <div class="form-group">
              <input type="search" class="input-sm form-control" id="search"  placeholder="Recherche">
              <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span> Chercher</button>
            </div>
            </div>
          </form>
          
            
        </div> 
        </div>
        
        
        
        
            
   <br /> 
   
   <!-- CAROUSEL -->
            <div class=" row">
            <div class=" col-lg-12">
            
            
                <div id="carousel-example-generic" class="carousel arrondi slide" data-ride="carousel">
              <!-- Indicators -->
            <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="loup1." alt="...">
      <div class="carousel-caption">
          <h3> Le Loups de Wall street</h3>
      </div>
    </div>
  
  
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->            
            
            
        
                </div>  
                
            <div class="row">
            <div class="col-lg-12">     
              <div class="navbar navbar-inverse">
                   <a class="navbar-brand" href="#">Les plus récents</a> 
                    <a class="navbar-brand" href="#"></a>

                     </div>
                     </div>
        
        <!-- Main Menu -->
        
            
        
            
            </div>              <br />
            
                <div class="row">
                <div class="col-lg-12">   
                <div class="navbar navbar-inverse">
                   <a class="navbar-brand" href="#">Les plus Populaires</a> 
                    <a class="navbar-brand" href="#"></a>

                     </div>             <br />
                    </div>
                    </div>
            
            

                <div class="row">
            <div class="col-lg-12">   
            <div class="navbar navbar-inverse">
                   <a class="navbar-brand" href="#">Nouveaux</a> 
                    <a class="navbar-brand" href="#">Mieux Notés</a>
                    <a class="navbar-brand" href="#">Plus populaires</a>
                    <a class="navbar-brand" href="#">Par genres</a>


        </div>
        </div>
        </div>
        
        
        
        <div id="footer">
      <div class="container">
      <div class="footer">
      
      
      </div>
      </div>
    </div>

<br />
      
            
            
            
            </div>