
.demo-tabs > ul > li.ddkit-anchor .ddkit-trigger{margin-left: 30px;color:#000000;background:#;}
.demo-tabs > ul > li.ddkit-anchor .ddkit-trigger:hover{text-decoration:none;background:#;}
.demo-tabs > ul > li.ddkit-anchor.ddkit-opened .ddkit-trigger{color:#57BDFF;background:#;}
.demo-tabs .ddkit-target{display:none;padding:10px;border:1px solid #fff;background:#;}
