

.shen10 {

margin-bottom :-140px;
margin-top :-100px;

}

.header {

height : 100%;
width : 100%;
opacity : 0.7;
position: fixed;
margin-top: 0px;
margin-left:px;
height :100px;
background-color : #222222;
z-index: 55555;



}

#uberbar  { 
 
  position:fixed; 
  top:0; 
  left:0; 
  z-index:2000; 
  width:100%;
}

.navbar.past-main {
    background-color:#fff;
    color:#444;
    opacity :0.1 ;

  
}
.header9 {

height : 100%;
width : 98.64%;
margin-top: -10px;
margin-left:px;
height :100px;
background-color : #222222;
margin-bottom : 400px;



}

.topimg {

margin-top : 10px;
height : 222px;
width : 150px;

}

.container2 {

height : 100%;
width : 100%;

}
.shen3 {

margin-top : -60px;


}

.barrenav {

margin-left : 40px;
margin-right: 40px;
background-color : #;
height

}

.shen4 {

margin-left:  180px;
margin-top : 42px;
text-align :;
width : 100%;
} 

.shen12
{
height : 100px;
width : 155px;


margin-top: 40px;
margin-left: 22px;
color : #fff;


}

.shen30
{
width : 20%;


margin-top: 40px;
margin-left: 22px;
color : #fff;


}

.long {

width : 1000px;

}
.shen13 {

margin-top : 20px;
margin-left : 80px;
font-weight: lighter; 
color : #fff;
margin-top : 50px;
}

.shen80 {


float : right ;
margin-right : 370px;
margin-top : -40px;
}

.shen82 {


float : right ;
margin-right : -130px;
margin-top : -40px;

}

.shen83 {


float : right ;
margin-right : -130px;
margin-top : -40px;

}



.logos2{

  height : 30px;
  width : 30px;
}

.shen9 {
width : %;
margin-top :-20px;
margin-right:-20px;

}
.shen19 {

margin-left: -90px;


}
.shen18 {
 margin-left : 129px;
 margin-top : 5px;
 color : #fff;
}

.shen14 {

margin-top: 60px;
color : #fff;
margin-left : 170px;

}

.header2 {


height: 100px;
margin-top : -25px;
margin-bottom: -28px;
background-color : #000000;
width: 100%;

}

.shen15 {

margin-left: -30px;
margin-top: 8px;
color : #fff;
}
.shen7 {
margin-left: 600px ;
float :  ;
text-align : center;
margin-right : 0px;
position : fixed;
width : 100%;


}
.shen11 {
 margin-left : 166px;
font-family: 'Titillium Web', sans-serif;
color : #6E6E6E;
background-color : #eceeee;
width : 1100px;
}

.shen11 :hover {

color : #20abdb;


;}
a {

color : #3F3F3F;

}
a:hover {

  color :#21A7FF;
  text-decoration:none;
  font-style :none; 
  background-color : #;

}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
   font-size: 1.0em; 

 }
 
 
li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
 
 li a {
 
 display:block;
 float:left;   
 width:;
 background-color:#;
 color: white;
 text-decoration:none;
 text-align:;
 padding:10px;
 font-size: large;
 border:px ;
 border-color:# # # #;
   font-size: 1.0em; 


 }
 
 
ul li a:hover {

color : #0088fb;
  text-decoration:none;
  background-color : #;

 } 

.shen2 {

margin-top : 40px;
margin-left: 60px;
height : 10%;
width : 10%;

}
.shen {
margin-top : -80px;
margin-right : 23px;

}

.shen6 {

margin-top : -70px;

}
.footer {

width : 100%;
clear : both;
height : 180px;
background-color : #31373B;


}
.shenblock {


  clear :both;
  margin-top : 50px;
  height : 100px;
  width : 100%;
  background-color : ;
}
.sec{
height :239;
width: 170px;
background-color : #000000;	
}
.coloro{
color : #000000;

}
.recherche {

margin-right : 10px;
}

.recherches {

margin-right : 100px;
}
.opm {
  z-index: 1;
}
. {

-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;

}


